.signup-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: lightgray;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 2rem;
}

.signup-container h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.signup-form{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.signup-form input{
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    font-size: 1.5rem;
}

.signup-btn {
    background: linear-gradient(to right, #ffff 50%, #3a346b 50%);
    background-size: 200% 100%;
    transition: background-position 0.2s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;
}

.signup-btn:hover {
    background-position: -100% 0;
    transform: scale(1.1);
}


.signup-form label{
    font-size: 1.5rem;
}

.signup-container p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.signup-container a {
    font-size: 1.5rem;
    color: #5a52a8;
    text-decoration: none;
}

.signup-container a:hover {
    color: #3a346b;
    transform: scale(1.1);
}